body{
margin:0;
background:#0b0b0b;
color:white;
font-family:Arial;
}

.hero{
display:flex;
height:100vh;
}

.left{
width:45%;
display:flex;
align-items:center;
justify-content:center;
font-size:40px;
}

.right{
width:55%;
position:relative;
}

#three-container{
width:100%;
height:100%;
}